
.navbar {
  position: relative;
  z-index: 1;
}






.navbar-brand {
    font-size: 32px;
    font-size: Shantell Sans;
}

/* jumbotron */
.jumbotron {
  background-image: url(img/jumbotron-bg.jpg);
  background-size: cover;
  height: 540px;
  position: relative;

}
.jumbotron .container {
  position: relative;
  z-index: 1;
}



.jumbotron  .display-4 {
  margin-top: 150px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 40px;
  
}

.jumbotron  .display-4 span {
  font-weight: 500;

}
/* akhir jumbotron */
/* info panel */
.info-panel {
  background-color: white;
  margin-top: -120px;
  border-radius: 12px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  padding: 30px;
}

.info-panel img {
  width: 80px;
  height: 80px;
  margin-right: 20px;

}

.info-panel h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
}

.info-panel p {
  font-size: 14px;
  color: #acacac;

}

/* workingspace */

.working-space {
  margin-top: 120px;
}

.working-space h3 {
  font-size: 62px;
  text-transform: uppercase;
  font-weight: 200;
  margin-top: 30px;
} 

.working-space h3 span {
  font-weight: bold;
}

 

/* utility */
.tombol {
  text-transform: uppercase;
  border-radius: 40px;
  margin-top: 5px;
}



/* media untuk dekstop */
@media (min-width:992px) {




.nav-link {
  text-transform: uppercase;
  margin-right: 30px;
  
 
}

.nav-link:hover::after {
  content: '';
  display: block;
  border-bottom: 3px solid rgb(95, 95, 214);
  width: 50%;
  margin: auto;
  

}

.navbar-brand, .nav-link {
  color: white !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);

}


.jumbotron {
  margin-top: -75px;
  height: 640px;
  
}

.jumbotron .display-4{
  font-size: 62px;
}



}









